:root {
  --dark: rgb(49, 49, 49);
  --black: rgb(24, 24, 24);
  --blue: rgb(56, 135, 255);
  --light: #fbfbfb;
  --darkgray: rgb(112, 112, 112);
}

body:has(.light) {
  background-color: var(--light);
}

body:has(.dark) {
  background-color: var(--dark);
}

main {
  margin-top: 58px;
}

.login-card,
.signup-card {
  margin-top: 120px !important;
}

i, input[type=checkbox] {
  cursor: pointer;
}

.parsedHtml,.parsedHtml table {
  color: #777 !important
}

/*------------------dark theme---------------------------------------- */

/* darkgray */
.dark .navbar {
  border-bottom: 1px solid var(--darkgray) !important;
}
.dark .card,
.dark .catagory-card,
.dark .todocard, 
.dark .home-card,
.dark .ck, 
.dark .view-todo,
.dark .view-todo input[type="text"],
.dark .category-card input,
.dark .view-todo input[type="datetime-local"], 
.dark .settings,
.dark .profile .detail,
.dark .login-card,
.dark .signup-card{
  background-color: var(--darkgray) !important;
}

.dark button,
.dark .modal-title,
label {
  color: var(--darkgray);
}

/* light */
.dark .sidebar .list i,
.dark .sidebar span:not(.new), 
.dark .catagory-header h6,
.dark .navbar i,
.dark .navbar button:not(.logout-btn),
.dark p,
.dark .todocard span,
.dark .card p,
.dark .todocard span,
.dark .modal-content input[type="input"],
.dark .view-titlebar i,
.dark .view-titlebar p,
.dark .view-todo i,
.dark .view-todo input,
.dark .view-todo button,
.dark .view-todo span,
.dark .view-note button,
.dark .view-note i,
.dark .view-note p,
.dark .note-content,
.dark .settings button,
.dark .settings label,
.dark .profile label,
.dark .profile button,
.dark .profile h1,
.dark .login-card i,
.dark .signup-card i, 
.dark .parsedHtml table{
  color: var(--light) !important;
}

.dark .view-todo input::placeholder{
  color: #ccc !important;
}


/* dark */
.dark nav{
  background-color: var(--black) !important;
}
.dark .sidebar {
  background-color: var(--black) !important;
  border-right: 1px solid rgba(224, 224, 224, 0.164);
}

.dark .sidebar .list,
.dark .navbar div{
  background-color: var(--black);
}

.dark .modal-content,
.dark .new-input,
.dark .sidebar .list a,
.dark .sidebar button{
  background-color: var(--dark) !important;
}
.dark .profile .custom-file-label {
  color: var(--dark) !important;
}

/* blue */
.dark .sidebar .seperator,
.dark .sidebar .active:not(.edit){
  background-color: var(--blue) !important;
}

.dark .navbar a {
  color: var(--blue) !important;
}

.dark .catagory-header a {
  background-color: transparent !important;
}

.dark .new-input {
  color: #a7a7a7
} 
.dark .add-btn {
  box-shadow: none;
}
.dark .catagory-header a,
.dark .sidebar .list a.edit {
  background-color: transparent !important;
}

/* navbar */
.navbar {
  border-bottom: 1px solid #eeeeee;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 70px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 1000;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.last-item {
  border: none !important;
}

.seperator {
  width: 100%;
  height: 8px;
  background-color: var(--light)
}

.ck-editor__editable_inline {
  min-height: 400px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5px;
  margin-right: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkgray)
}

/*----------------------- main header ----------------------------*/

.dropdown-toggle::after {
  display: none !important;
}

.nav-item {
  font-size: 1.5rem;
}

.light .navbar a {
  color: var(--blue) !important;
}

/*----------------------- main ----------------------------*/
.modal {
  background-color: transparent;
}

.action-button {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  transition: 0.9;
}

.action-button:hover {
  opacity: 0.9;
}

.note-content {
  min-height: 60vh;
  color: var(--dark)
}

.profile-edit{
  width: 80%;
}

/*----------------------- profile ----------------------------*/
.custom-file {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-file-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-file-label {
  display: block;
  padding: 8px;
  background-color: #e9ecef;
  border-radius: 4px;
  cursor: pointer;
}

/*----------------------- Media query ----------------------------*/
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }

  .logo {
    width: 50px;
    margin: 0
  }

  header button#navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 50%;
  }

  .settings .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .action-button,
  .heart~label {
    font-size: 1.2rem;
  }

  .logo {
    width: 40px;
    margin: 0
  }

  .nav-item {
    font-size: 1rem;
  }

  .home-card p {
    font-size: 1.2rem !important;
  }

  header button#navbar-toggler {
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
  }
}

@media (max-width: 425px) {
  .sidebar {
    width: 70%;
  }

  .search {
    padding: 0 !important;
    height: 2.4rem;
  }

  .form-check-input {
    padding: 0.65rem;
  }

  .add-btn {
    padding: 0.4rem 0.7rem !important;
    font-size: 0.8rem;
  }

  .action-button,
  #heart~label {
    font-size: 1.3rem;
    margin-right: 0.3rem !important;
  }

  .nav-item {
    font-size: 1rem
  }

  header h3 {
    font-size: 1.2rem;
  }

  .settings {
    padding: 0.5rem !important;
  }

  .settings label {
    font-size: 1rem !important;
  }

  .settings .inputs {
    display: flex;
    flex-direction: column;
  }

  .home-card {
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
    padding: 0.4rem !important;
  }

  .home-card p {
    font-size: 0.8rem !important;
    margin: 0 !important;
  }

  .catagory-card {
    padding: 0.6rem !important;
  }

  .list-group-item {
    font-size: 0.9rem;
  }

  .list-group-item i {
    margin-right: 0.3rem !important;
  }

  .catagory-card i {
    font-size: 1rem !important;
  }

  .catagory-card input {
    font-size: 0.9rem;
  }
  .profile-edit{
    width: 100%;
  }
}