.category-input {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 0.6rem
}

.dark .category-input {
    background-color: rgb(112, 112, 112);
    border-color: lightgray;
    color: lightgray;
}