.card {
    cursor: pointer;
    transition: 0.4s;
}

.card:hover{
    scale: 1.007;
}

/* heart checkbox */
.action-container {
    position: absolute;
    align-self: flex-end;
}

.heart {
    display: none;
}

.heart:checked~label {
    color: red !important;
}

.dark .heart~label{
    color: lightgray;
}

.heartlabel {
    font-size: 1.8em;
    cursor: pointer;
}

